---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
---

<Layout>
  <Main>
    <h2 class="text-teal-900 dark:text-teal-100">Checkout Page|Coming Soon</h2>
  </Main>
</Layout>
