---
export const prerender = false;
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import FeaturedPost from "../components/FeaturedPost.astro";
import PostList from "../components/PostList.astro";
import CategoryList from "../components/CategoryList.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import { getSession } from "auth-astro/server";

const allPosts = await getCollection("posts");
const featuredPosts = allPosts.filter((post) => post.data.featured);
const posts = allPosts.filter((post) => !post.data.featured).slice(0, 4);
const allCategories = allPosts.flatMap((post) => post.data.categories);
const categories = Array.from(new Set(allCategories));
console.log(featuredPosts[0].data.image);

const session = await getSession(Astro.request);
console.log("session is", session);
---

<Layout>
  <Main>
    <H1 text="Country Music" />
    <p
      class="text-zinc-900 dark:text-zinc-300 text-sm md:text-xl mt-[-2%] mb-6 md:mb-12 text-center"
    >
      Join the Community and learn from Music Producers and Enthusiasts
    </p>

    {featuredPosts.map((post) => <FeaturedPost post={post} />)}

    <hr
      class="w-full border border-teal-900 dark:border-teal-100 mb-1 md:mb-3"
    />

    <div class="grid grid-cols-[auto,1fr] gap-3 mb-6 max-sm:grid-cols-1">
      <CategoryList categories={categories} title="Recent Posts" />
    </div>

    <div class="mb-1">
      <PostList posts={posts} />
    </div>

    <div class="flex justify-end">
      <a
        href={`/blog`}
        class="border-b border-teal-900 text-zinc-700 py-2 px-4 rounded-xl text-lg"
      >
        Read more
      </a>
    </div>
  </Main>
</Layout>
