---
type Props = {
  category: string;
};

const { category } = Astro.props;
---

<a
  href={`/category/${category}`}
  class="text-gray-900 dark:text-gray-100 rounded-2xl font-semibold capitalize text-xs md:text-sm p-1 border-1 border-gray-900 dark:border-gray-100 whitespace-nowrap"
>
  {category}
</a>
