---
type Props = {
  category: string;
};

const { category } = Astro.props;
---

<a
  href={`/category/${category}`}
  class="text-gray-900 rounded-2xl font-semibold capitalize text-sm md:text-md p-2 border-1 border-gray-900 whitespace-nowrap"
>
  {category}
</a>
