---
import { Icon } from "astro-icon/components";
import Newsletter from "./Newsletter.astro";
---

<footer
  class="bg-teal-700 dark:bg-[#050f0f]/40 mt-6 md:mt-12 md:p-6 flex max-sm:flex-col justify-between items-center gap-6 py-6 max-sm:px-2 max-sm:pb-3 max-sm:pt-6"
>
  <div class="text-zinc-300 flex flex-col gap-2">
    <small>
      Copyright &copy; <span id="cpright"></span> | All rights reserved
    </small>
    <small>
      <a href="/rss.xml" class="inline-flex gap-3 items-center">
        <span>Subscribe to RSS </span>
        <Icon name="mdi:rss" width="20" height="20" />
      </a>
    </small>
  </div>

  <Newsletter />
</footer>

<script is:inline data-astro-rerun>
  document.addEventListener("astro:page-load", () => {
    const cpright = document.querySelector("#cpright");
    cpright.innerHTML = new Date().getFullYear().toString();
  });
</script>
