---
type Props = {
  text: string;
};
const { text } = Astro.props;
---

<h1
  class="text-4xl capitalize md:text-6xl md:mt-1 p-1 md:pb-2 md:px-8 text-center
  text-teal-900 dark:text-teal-50 font-bold mb-3 tracking-widest"
>
  {text}
</h1>
