---
type Props = {
  text: string;
};
const { text } = Astro.props;
---

<h1
  class="text-3xl capitalize md:text-5xl md:mt-6 p-2 md:pb-2 md:px-8 text-center
  text-teal-900 dark:text-teal-100 font-bold mb-3 tracking-wide"
>
  {text}
</h1>
