---
export const prerender = false;
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";

import { Icon } from "astro-icon/components";
import { SignIn, SignOut, Auth } from "auth-astro/components";
import type { Session } from "@auth/core/types";
import { getSession } from "auth-astro/server";
import AuthComponent from "./AuthComponent";
import ThemeToggle from "./ThemeToggle.astro";

const session = await getSession(Astro.request);
console.log("session header is", session);
// const { userEmail, name } = session?.user;

// const userEmail = Astro.cookies.get("userEmail");
---

<header
  class="flex justify-between items-center p-3 md:px-24 shadow-md sticky top-0 z-100
   bg-neutral-200 dark:bg-[#050f0f]/80 max-sm:px-2 max-sm:py-5 max-w-7xl w-full"
>
  <a href="/" class="flex max-sm:flex-col gap-0 items-center">
    <!-- <Image
      loading="eager"
      src="/heartbeat.png"
      alt="country music blog logo"
      width={32}
      height={32}
      format="webp"
      class="w-12"
    /> -->

    <p
      class="capitalize inline-flex gap-0 text-xl max-sm:text-md font-semibold text-teal-700 dark:text-teal-100"
    >
      <strong class="skew-x-[-10deg]">Music</strong><Icon
        name="mdi:music"
        size={28}
        color="purple"
        class="pb-2 ml-[-5px]"
      />
      <strong
        class="skew-y-[-10deg] text-[#61b65f] dark:text-teal-200 ml-[-5px]"
        >Blog</strong
      >
    </p>
  </a>
  <div class="mt-[-2%]">
    <ThemeToggle />
  </div>
  <div
    class="flex justify-between items-center text-md md:text-xl md:px-6 gap-3 md:gap-6 max-sm:inline-flex"
  >
    <!-- <HeaderLink href="/">
      <Icon name="mdi:home" color="teal" />
    </HeaderLink> -->
    <HeaderLink href="/blog"
      ><span class="flex items-center"
        ><Icon name="mdi:blog" color="teal" />
        <span class="dark:text-white">Blog</span></span
      ></HeaderLink
    >
    <HeaderLink href="/about">
      <span class="flex items-center"
        ><Icon name="mdi:information" color="teal" />
        <span class="dark:text-white">About</span></span
      >
    </HeaderLink>
    <AuthComponent client:load session={session} />

    <!-- {
      session?.user?.name ? (
        <a
          href="/logout"
          class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
        >
          Logout
        </a>
      ) : (
        <a
          href="/login"
          class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
        >
          Login
        </a>
      )
    } -->
  </div>
</header>
