---
import { Icon } from "astro-icon/components";
import CartNav from "./CartNav";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import MobileNav from "./MobileNav";
import ThemeToggle from "./ThemeToggle.astro";
---

<div
  class="md:hidden flex justify-between items-center gap-6 p-3 md:px-24 shadow-md sticky top-0 z-100
    bg-neutral-100 dark:bg-[#050f0f]/80 max-sm:px-2 max-sm:py-5 w-full"
>
  <Logo />
  <div class="flex w-20 justify-between items-center gap-3 mb-[-5%] rounded-xl">
    <ThemeToggle />
    <HeaderLink href="/search">
      <Icon name="mdi:search" size={24} color="teal" class="rounded-full" />
    </HeaderLink>
  </div>

  <CartNav client:load />
  <MobileNav client:load />
</div>
