---
import { Icon } from "astro-icon/components";
---

<a href="/" class="flex max-sm:flex-col gap-0 items-center">
  <p
    class="capitalize inline-flex gap-0 text-xl max-sm:text-md font-semibold text-teal-700 dark:text-teal-100"
  >
    <strong class="skew-x-[-10deg]">Music</strong><Icon
      name="mdi:music"
      size={28}
      color="purple"
      class="pb-2 ml-[-5px]"
    />
    <strong class="skew-y-[-10deg] text-[#61b65f] dark:text-teal-200 ml-[-5px]"
      >Blog</strong
    >
  </p>
</a>
