---
import { Icon } from "astro-icon/components";
---

<a href="/" class="">
  <p
    class="capitalize animate-fade-in p-1 rounded-md inline-flex gap-[-10px] shadow-md text-md md:text-xl font-semibold text-teal-700 dark:text-teal-100"
  >
    <strong class="skew-x-[-10deg]">Music</strong>
    <Icon name="mdi:music" size={28} color="purple" class="ml-[-5px]" />
    <strong class="text-[#61b65f] dark:text-teal-200 ml-[-5px]">nation</strong>
  </p>
</a>
