---
// components/ViewCounter.astro
import { db, Views, sql } from "astro:db";
const { slug } = Astro.props;
let item;

try {
  item = await db
    .insert(Views)
    .values({
      slug,
      count: 1,
    })
    .onConflictDoUpdate({
      target: Views.slug,
      set: {
        count: sql`count + 1`,
      },
    })
    .returning({
      slug: Views.slug,
      count: Views.count,
    });
} catch (error) {
  console.error(error);
  item = { slug, count: 1 };
}

console.log("itemis", item);
---

<div class="p-2 my-2 text-xs font-semibold text-left text-teal-500">
  {
    item && (
      <p>TotalViews: {Array.isArray(item) && (item[0].count as number)}</p>
    )
  }
</div>
