---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
---

<Layout title="Newsletter Success!">
  <Main>
    <p class="text-center pt-12 text-2xl">Thanks for subscribing</p>
  </Main>
  <span class="text-white bg-teal-900 px-3 py-2 rounded-xl">
    <a href="/">Go back</a>
  </span>
</Layout>
