---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = Pick<CollectionEntry<"blog">["data"], "title" | "description">;

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="min-h-screen bg-neutral-100">
    <Header />

    <main class="min-h-[70vh]">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  main {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    margin: auto;
    background-color: var(--gray-gradient);
    max-width: 100%;
    /* margin: 0; */
  }
</style>
